<!DOCTYPE html>
<html>
<head>
  <title>hi!: <%= pageTitle %></title>
  <link rel="stylesheet" href="css/ui-lightness/jquery-ui-1.8.16.custom.css">
  <link rel="stylesheet" href="css/jquery.fileupload-ui.css">
</head>
<body>

<%- body %>

</body>
</html>